h2 {
  color: green;
  font-style: italic;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.messageSuccess {
  color: green;
}

.error {
  color: red;
}